@import './fonts';
@import './var';
@import './base';
@import './classes';
@import './componets/header';
@import './componets/hero';
@import './componets/aboutsection';
@import './componets/mainwork';
@import './componets/projectsblock';
