.contact {
  margin-bottom: 120px;
  .title{
    margin-bottom: 22px;
  }
  &__form {
    flex-direction: column;
    justify-content: flex-start;
  }
  &__input {
    margin-bottom: 10px;
  }
  &__input,
  &__textarea {
    background: #f3f3f3;
    padding: 15px 0 15px 21px;
    width: 94%;
    &::placeholder {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      color: $gray;
    }
  }
  &__textarea {
    resize: none;
    margin-bottom: 22px;
  }
  &__checkbox-label {
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black;
    cursor: pointer;
    p {
      margin-left: 16px;
    }
    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: #f3f3f3;
      border: 1px solid $black;
    }
  }
  &__checkbox {
    &:checked {
      + .contact__checkbox-label {
        &::before {
          background: red;
        }
      }
    }
  }
  &__btn {
    margin-top: 21px;
    max-width: min-content;
  }
  .col-8{
    img{
      margin-left: 30px;
    }
  }
}
