.gallery {
  margin: 20px 0 120px;
  &__row {
    margin: 30px -15px 0;
  }
  &__card {
    position: relative;
    overflow: hidden;
    margin: 0 15px 30px;
  }
  &__pagination{
    margin-top: 15px;
  }
  &__btns{
    margin-left: 25px;
  }
}
.gallery-card {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    .gallery-card__info {
      bottom: 0;
    }
    &::before {
      opacity: 0.5;
    }
  }
  &__info {
    position: absolute;
    height: 46%;
    bottom: -60%;
    z-index: 1;
    padding: 20px 20px 0;
    background: rgba($color: $white, $alpha: 0.8);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    transition: 0.5s;
  }
}
