.hero {
  &__title-block {
    flex-direction: column;
    justify-content: center;
  }
  &__btn-row {
    margin: 95px 0;
  }
  &__item {
    background: url(../img/heroimg.png) no-repeat center, #c4c4c4;
    width: 770px;
    height: 829px;
    display: flex;
    align-items: flex-end;
  }
}
