section.hero 
  .container 
    .row
      .col-4.flex.hero__title-block 
        h1.title PROJECT &ensp;
          span.title.title--black NURTOWN
        .row.hero__btn-row
          button.pagination-btn.slider-btn-prev &larr;
          button.pagination-btn.slider-btn-next &rarr;
        .row.pagination-row
          span.slider-current.pagination-number
          span.pagination-number /
          span.slider-number.pagination-number
      .col-8
        .slider-viewport
          .slider
            -const obj = [1,2,3,4]
            each item in obj
              .slider-slide
                .hero__item
                  a(href="").link
                    span ВЗГЛЯНУТЬ
                    span.link__arrow &rarr;
                    

          
          

           
