include ../mixins/svg.pug

section.hero 
  .container 
    .row
      .col-4.flex.hero__title-block 
        h1.hero__title PROJECT &ensp;
          span.hero__title--black NURTOWN
        .row.hero__btn-row
          button.hero__btn.slider-btn-prev &larr;
          button.hero__btn.slider-btn-next &rarr;
        .row.hero__pagination-row
          span.slider-current.hero__pagination 
          span.hero__pagination /
          span.slider-number.hero__pagination
      .col-8
        .slider-viewport
          .slider
            .slider-slide
              .hero__item
                a(href="").hero__link
                  span ВЗГЛЯНУТЬ
                  span.hero__arrow &rarr;
            .slider-slide
                .hero__item
                  a(href="").hero__link
                    span ВЗГЛЯНУТЬ
                    span.hero__arrow &rarr;
            .slider-slide
              .hero__item
                a(href="").hero__link
                  span ВЗГЛЯНУТЬ
                  span.hero__arrow &rarr;
            .slider-slide
                .hero__item
                  a(href="").hero__link
                    span ВЗГЛЯНУТЬ
                    span.hero__arrow &rarr;

          
          

           
