section.mainwork
  .container
    h2.title.mainwork__title Основные задачи
    .row
      .col-6.flex.mainwork__column
        span.mainwork__number 1
        p.mainwork__description Создание комфортных условий и повышение качества обслуживания клиентов
      .col-6.flex.mainwork__column
        span.mainwork__number 2
        p.mainwork__description Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке