section.projects
  .container
    h1.title.projects__title-main НАШИ <br/>
      span.title--black.title ПРОЕКТЫ
    each item in projects
      a(href=`/projects/${item._id}`).projects__item.row 
        .col-7
          img(src=item.imgUrl.mainImg, alt="", style="width: 100%")
        .col-5.projects__text-block
          h2.projects__title #{item.title}
          p.projects__description #{item.description}
          button.link
            span СМОТРЕТЬ
            span.link__arrow &rarr;
    .projects__pagination
      .row.pagination-row
        .row.pagination-row
          span.pagination-number 01
          span.pagination-number /
          span.pagination-number 05
        .row.projects__btns
          button.pagination-btn &larr;
          button.pagination-btn &rarr;