extends layouts/layout.pug

block variables
 - const title = '404'

block content
  div(style="height: 100vh;display: flex; align-items: center; justify-content: center; color: #b32b2b")
    h1(style="font-size: 100px") 
      b Error 404! Page not found!