extends layouts/layout.pug

block variables
 - const title = 'Main page'

block content
  include components/header.pug
  include components/hero.pug
  include components/aboutSection.pug
  include components/mainwork.pug
  include components/projectsblock.pug