@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Bold.eot");
  src: local("TT Hoves Bold"), local("TTHoves-Bold"), url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Regular.eot");
  src: local("TT Hoves Regular"), local("TTHoves-Regular"), url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Light.eot");
  src: local("TT Hoves Light"), local("TTHoves-Light"), url("../fonts/TTHoves-Light.woff2") format("woff2"), url("../fonts/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  color: #333333;
  font-family: "TT Hoves", sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

input, textarea {
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  color: #BDBDBD;
}

.title--black {
  color: #333333;
  font-weight: bold;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 23px 30px 50px;
  background: #ffffff;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-box-shadow: -5px -3px 76px -25px rgba(0, 0, 0, 0.23);
          box-shadow: -5px -3px 76px -25px rgba(0, 0, 0, 0.23);
}

.link__arrow {
  margin-left: 12px;
  font-size: 18px;
}

.link--light {
  color: #ffffff;
  background: transparent;
}

.link--dark {
  color: #ffffff;
  background: #333333;
}

.pagination-btn {
  width: 53px;
  height: 53px;
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  -webkit-box-shadow: 1px 3px 15px -6px rgba(0, 0, 0, 0.48);
          box-shadow: 1px 3px 15px -6px rgba(0, 0, 0, 0.48);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pagination-btn:last-child {
  margin-right: 0;
}

.pagination-btn:hover, .pagination-btn:active {
  background: #f9f9f9;
}

.pagination-btn:hover:first-child, .pagination-btn:active:first-child {
  padding-right: 5px;
}

.pagination-btn:hover:last-child, .pagination-btn:active:last-child {
  padding-left: 5px;
}

.pagination-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-number {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: #bdbdbd;
}

.pagination-number:nth-child(2) {
  margin: 0 30px;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.header__row {
  padding: 30px 6px 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  margin-right: 60px;
}

.header__link {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 4px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__link.active {
  border-color: #333333;
}

.hero__title-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__btn-row {
  margin: 95px 0;
}

.hero__item {
  background: url(../img/heroimg.png) no-repeat center, #c4c4c4;
  width: 770px;
  height: 829px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about {
  margin: 120px 0;
}

.about__row {
  padding: 30px 70px 30px 100px;
  background: #fbfbfb;
}

.about__row .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.about .flex .about__img {
  margin-bottom: 30px;
}

.about__text-block {
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__description {
  margin: 20px 0 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}

.about__link {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.mainwork__title {
  margin-bottom: 62px;
}

.mainwork__column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainwork__number {
  margin-right: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 200px;
  line-height: 1.195;
  color: #f2f2f2;
}

.mainwork__description {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.6;
}

.projectsblock {
  margin: 120px 0;
}

.projectsblock__row {
  margin: 0 -15px;
}

.projectsblock__row--bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsblock__column {
  padding: 0 15px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projectsblock__column:hover .projectsblock__column-inner::before {
  opacity: 1;
}

.projectsblock__column:hover .projectsblock__text-block {
  opacity: 1;
}

.projectsblock__column-inner {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsblock__column-inner::before {
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(51, 51, 51, 0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.projectsblock__text-block {
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.projectsblock__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  color: #ffffff;
}

.projectsblock__img {
  max-width: 100%;
}

.contact {
  margin-bottom: 120px;
}

.contact .title {
  margin-bottom: 22px;
}

.contact__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__input {
  margin-bottom: 10px;
}

.contact__input, .contact__textarea {
  background: #f3f3f3;
  padding: 15px 0 15px 21px;
  width: 94%;
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.contact__input::placeholder, .contact__textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.contact__textarea {
  resize: none;
  margin-bottom: 22px;
}

.contact__checkbox-label {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #333333;
  cursor: pointer;
}

.contact__checkbox-label p {
  margin-left: 16px;
}

.contact__checkbox-label::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #f3f3f3;
  border: 1px solid #333333;
}

.contact__checkbox:checked + .contact__checkbox-label::before {
  background: red;
}

.contact__btn {
  margin-top: 21px;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.contact .col-8 img {
  margin-left: 30px;
}

.footer {
  background: #333333;
  color: #ffffff;
}

.footer__row {
  padding: 60px 77px 60px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  width: 30%;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.footer__list:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  margin-bottom: 30px;
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin-right: 14px;
}

.gallery {
  margin: 20px 0 120px;
}

.gallery__row {
  margin: 30px -15px 0;
}

.gallery__card {
  position: relative;
  overflow: hidden;
  margin: 0 15px 30px;
}

.gallery__pagination {
  margin-top: 15px;
}

.gallery__btns {
  margin-left: 25px;
}

.gallery-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gallery-card:hover .gallery-card__info {
  bottom: 0;
}

.gallery-card:hover::before {
  opacity: 0.5;
}

.gallery-card__info {
  position: absolute;
  height: 46%;
  bottom: -60%;
  z-index: 1;
  padding: 20px 20px 0;
  background: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.projects {
  margin-bottom: 120px;
}

.projects__title-main {
  margin: 20px 0 60px;
}

.projects__item {
  margin-bottom: 60px;
}

.projects__text-block {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.25;
  color: #BDBDBD;
}

.projects__description {
  margin: 25px 0 64px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.projects__pagination {
  margin-top: 60px;
}

.projects__btns {
  margin-left: 25px;
}

.projectspage__title {
  margin-bottom: 60px;
}

.projectspage__main-img {
  min-width: 100%;
}

.projectspage__col-img {
  max-height: 100%;
  max-width: 100%;
}

.projectspage__text-block {
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projectspage__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
